@{
    ViewData["Title"] = "Comfirmação de remoção";
}

<div class="text-center">
    <h3>Realmente deseja remover este contato? </h3>
</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Contato" asp-action="Index">Cancelar remoção</a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar remoção</a>





