@{
    ViewData["Title"] = "Comfirmação de remoção";
}

<div class="text-center">
    <h3>Realmente deseja remover este contato? </h3>
</div>

<a class="btn btn-danger btn-block" role="button">Cancelar remoção</a>
<a class="btn btn-primary btn-block" role="button">Confirmar remoção</a>




